@use "../../utilities/variables";

.container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 30rem;
  height: 20rem;
  border: 0.2rem solid black;
  border-radius: 1rem;
  background: white;
  font-weight: 600;
  background: #fffff0;
}

.results {
  margin-top: 4rem;
  transform: scale(1.3);
}

.subcontainer {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-size: 1.4rem;
}

.name {
  font-weight: 800;
  color: variables.$secondary-color;
}

.row {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.row2 {
  @extend .row;
  margin-top: 0.25rem;
  font-size: 1.25rem;
}

.price {
  margin-left: 0.5rem;
  color: #5f755e;
}

.reviewCount {
  margin-left: 0.25rem;
  color: grey;
}

.image {
  margin-top: 0.5rem;
  height: 16.5rem;
  border: 0.15rem solid black;
  border-radius: 0.5rem;
}

.rating {
  color: #eec900;
}

.table {
  border-collapse: collapse;
  tr,
  td {
    border: 0.15rem solid black;
    padding: 0.2rem 0.25rem;
  }

  td:first-child {
    color: variables.$secondary-color;
    background: #c3e4ed;
  }

  td:nth-child(2) {
    color: #517693;
    background: #f0ffff;
  }
}
