@use "../../utilities/variables";

.title {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  color: variables.$primary-color;
  -webkit-text-stroke: 0.2rem black;
  display: flex;
  align-items: center;
}

.logo {
  height: 5rem;
  margin-right: 0.25rem;
}

.slogan {
  margin-top: -0.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: variables.$primary-color;
  -webkit-text-stroke: 0.075rem black;
}

.subtitle {
  margin: 0 2vw;
  color: darkgrey;
  font-weight: 600;
  text-align: center;

  &:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
  }
}

.subtitleActive {
  color: black;
  text-decoration: underline;
}

.row {
  display: flex;
  font-size: 2.75rem;
}

.container {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.header {
  margin: 2.5vh 0 0 0;
  color: black;
  font-weight: 600;
}

.input {
  width: 17.5rem;
  border: 0.15rem solid dimgray;
  padding: 0.25rem;
  font-size: 2rem;
}

.header2 {
  margin: 0.25vh 0;
  font-weight: 600;
  text-align: center;
}

.button {
  cursor: pointer;
  background-color: white;
  border-radius: 0.5rem;
  border: 0.15rem solid dimgray;
  padding: 0.25rem;
  color: dimgray;
  font-size: 2rem;
  font-weight: 600;

  &:hover {
    @extend .active;
  }
}

.pending {
  background-color: lightcyan;
  border-color: black;
  color: black;
}

.active {
  background-color: lightblue;
}

.button2 {
  display: inline-block;
  cursor: pointer;
  margin: 1.5vh 0;
  background: inherit;
  border: none;
  color: darkgrey;
  font-size: 3rem;
  font-weight: 600;

  &:hover {
    border-color: black;
    color: black;
  }
}
